{% extends 'base.html' %}
{% block title %} statut d'archives {% endblock %}

{% block content %}{% endblock content %}

{% block add %}


<a href="{% url 'add_type' %}" class="btn-floating btn-small waves-effect waves-light blue" title="Ajouter un type">
    <i class="material-icons">add</i>
</a>
      
{% endblock add %}

{% block main %}
<div class="container mt-3 w-50">
    <table id="example" class="table table-striped" style="width:100%">
        <thead class="table-success">
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th style="width: 18%;">Action</th>
            </tr>
        </thead>
       
        <tbody>
            {% for archive_type in archive_types %}
            <tr>
                <th scope="row">{{archive_type.id}}</th>
                <td>{{archive_type.libelle}}</td>
                <td>
                    <a href="{% url 'edit_type' archive_type.id %}" type="button" class="btn btn-warning" title="Edit type">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="{% url 'delete_type' archive_type.id %}" type="button" class="btn btn-danger" title="Supprimer type">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

                {% for message in messages %}
                        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                        {% if message.tags == 'error' %}
                            <script>
                                var m = "{{ message|safe }}";
                                  swal("Refusé !", "Enter your data correctly.", "error")
                            </script>
                                  {% elif message.tags == 'success' %}
                            <script>
                                  var m = "{{ message|safe }}";
                                  swal("Parfait !", m, "success")
                            </script>
                        {% endif %}   
                {% endfor%}
{% endblock main %}

{% block footer %}{% endblock footer %}