{% extends 'base.html' %}
{% block title %} site {% endblock %}

{% block content %}{% endblock content %}

{% block add %}
<a href="{% url 'add_site' %}" title="Ajouter une provenance">
  <i class="fa-solid fa-plus"></i>
<a/>
{% endblock add %}

{% block main %}
<div class="container mt-3 w-50">
    <table id="example" class="table table-striped" style="width:100%">
        <thead class="table-success">
            <tr>
                <th>Id</th>
                <th>Site</th>
                <th style="width: 18%;">Action</th>
            </tr>
        </thead>
       
        <tbody>
            {% for site in sites %}
            <tr>
                <th scope="row">{{site.id}}</th>
                <td>{{site.site}}</td>
                <td>
                    <a href="{% url 'edit_site' site.id %}" type="button" class="btn btn-warning" title="Edit site">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="{% url 'delete_site' site.id %}" type="button" class="btn btn-danger" title="Supprimer site">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

                {% for message in messages %}
                        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                        {% if message.tags == 'error' %}
                            <script>
                                var m = "{{ message|safe }}";
                                  swal("Refusé !", "Enter your data correctly.", "error")
                            </script>
                                  {% elif message.tags == 'success' %}
                            <script>
                                  var m = "{{ message|safe }}";
                                  swal("Parfait !", m, "success")
                            </script>
                        {% endif %}   
                {% endfor%}
{% endblock main %}

{% block footer %}{% endblock footer %}