{% extends 'base.html' %}
{% block title %}  sous-sous-serie {% endblock %}

{% block content %}{% endblock content %}

{% block add %}

<a href="{% url 'add_soussousserie' %}" class="btn-floating btn-small waves-effect waves-light blue" title="Ajouter une soussousserie">
    <i class="material-icons">add</i>
</a>
     
{% endblock add %}

{% block main %}
<div class="container mt-3 w-50">
    <table id="example" class="table table-striped" style="width:100%">
        <thead class="table-success">
            <tr>
                <th>Id</th>
                <th>Sous Sous Serie</th>
                <th>Entité</th>
                <th>Sous serie</th>
                <th>Durée</th>
                <th>Sort final</th>
                <th style="width: 18%;">Action</th>
            </tr>
        </thead>
       
        <tbody>
            {% for soussousserie in soussousseries %}
            <tr>
                <th scope="row">{{soussousserie.id}}</th>
                <td>{{soussousserie.soussousserie}}</td>
                <td>{{soussousserie.entite}}</td>
                <td>{{soussousserie.sousserie}}</td>
                <td>{{soussousserie.duree}}</td>
                <td>{{soussousserie.sort_final}}</td>
                <td>
                    <a href="{% url 'edit_soussousserie' soussousserie.id %}" type="button" class="btn btn-warning" title="Edit soussousserie">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="{% url 'delete_soussousserie' soussousserie.id %}" type="button" class="btn btn-danger" title="Supprimer soussousserie">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

                {% for message in messages %}
                        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                        {% if message.tags == 'error' %}
                            <script>
                                var m = "{{ message }}";
                                  swal("Refusé !", "Enter your data correctly.", "error")
                            </script>
                                  {% elif message.tags == 'success' %}
                            <script>
                                  var m = "{{ message }}";
                                  swal("Parfait !", m, "success")
                            </script>
                        {% endif %}   
                {% endfor%}
{% endblock main %}

{% block footer %}{% endblock footer %}